In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
visa_df=pd.read_csv('C:\\Users\\Pranjali\\Downloads\\Visadataset - Visadataset.csv')
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [5]:
len(visa_df['prevailing_wage'])

25480

In [9]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [11]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [12]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

#STD

In [13]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [26]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [14]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [24]:
list_value=[]
wage_count=len(visa_df['prevailing_wage'])
wage_min=visa_df['prevailing_wage'].min()
wage_max=visa_df['prevailing_wage'].max()
wage_mean=visa_df['prevailing_wage'].mean()
wage_median=visa_df['prevailing_wage'].median()
wage_std=visa_df['prevailing_wage'].std()
list_value=[wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std]
index_val=['count','min','max','mean','median','std']
pd.DataFrame(list_value,columns=['prevailing_wage'],index=index_val)

        prevailing_wage
count      25480.000000
min            2.136700
max       319210.270000
mean       74455.814592
median     70308.210000
std        52815.942327

In [21]:
con=visa_df['prevailing_wage']<12740
len(visa_df[con])

3518

In [5]:
list_value=[]
wage_count=round(len(visa_df['prevailing_wage']),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

wage_25p=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50p=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75p=round(np.quantile(visa_df['prevailing_wage'],0.75),2)

list_values=[wage_count,wage_min,wage_max,
             wage_mean,wage_median,wage_std,wage_25p,wage_50p,wage_75p]
index_val=['count','min','max','mean','median','std','25%','50%','75%']
pd.DataFrame(list_values,
             columns=['prevailing_wage'],
             index=index_val)

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94
25%            34015.48
50%            70308.21
75%           107735.51

In [23]:
li=[]
col=['no_of_employees','yr_of_estab','prevailing_wage']
for i in col:
    wage_count=round(len(visa_df[i]),2)
    wage_min=round(visa_df[i].min(),2)
    wage_max=round(visa_df[i].max(),2)
    wage_mean=round(visa_df[i].mean(),2)
    wage_median=round(visa_df[i].median(),2)
    wage_std=round(visa_df[i].std(),2)

wage_25p=round(np.quantile(visa_df[i],0.25),2)
wage_50p=round(np.quantile(visa_df[i],0.50),2)
wage_75p=round(np.quantile(visa_df[i],0.75),2)
li.append(wage_count,wage_max,wage_mean,wage_median,wage_min,wage_std,wage_25p,wage_50p,wage_75p)

list_values=[wage_count,wage_min,wage_max,
             wage_mean,wage_median,wage_std,wage_25p,wage_50p,wage_75p]
index_val=['count','min','max','mean','median','std','25%','50%','75%']
pd.DataFrame(list_values,
             columns=[i],
             index=index_val)

TypeError: list.append() takes exactly one argument (9 given)

In [ ]:
v1=wage_mean-1*wage_std
v2=wage_mean+1*wage_std
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2

count1=len(visa_df[con1 & con2])